
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<main class="content">
    <div class="container">
    <div class="container-fluid p-0">
        
        <div class="row">
            <div class="col-12">
                        <div class="card card-success card-outline">
                            <div class="card-header">
                              <h3 class="card-title">
                                <i class="fas fa-edit"></i>
                                ແກ້ໄຂຂໍ້ມູນສວນຕົວ
                              </h3>
                            </div>
                            <div class="card-body">
                                <form method="POST" enctype="multipart/form-data">
                                    <!-- Security token by Django -->
                                    {% csrf_token %}
                            
                                    <!-- form as paragraph -->
                                    {{ form|crispy}}
                            
                                    <input type="submit" value="Update">
                                </form>
                            </div>
                            <!-- /.card -->
                        </div>
            </div>
        </div>
    
    </div>
    </main>

{% endblock %}
