
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<main class="content">
    <div class="container">
    <div class="container-fluid p-0">
        
        <div class="row">
            <div class="col-12">
                        <div class="card card-success card-outline">
                            <div class="card-header">
                              <h3 class="card-title">
                                <i class="fas fa-edit"></i>
                                ເພີ່ມປະເພດສິນຄ້າ
                              </h3>
                            </div>
                            <div class="card-body">
                                {% if message %}
    <p>{{ message }}</p>
{% endif %}
                                <form method="post" action="{% url 'post_data' %}">
                                    {% csrf_token %}
                                    <label for="name">Name:</label>
                                    <input type="text" id="ip" name="ip"><br>
                    
                                    <input type="submit" value="Submit">
                                </form>
                            </div>
                            <!-- /.card -->
                        </div>
            </div>
        </div>
    
    </div>
    </main>
    
{% endblock %}
</div>

