{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="card-group">
    {% for list in dataset %} 
    <div class="card" >
      <img src="{{list.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{list.name}}</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">{{list.created}}</small></p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{list.created}}</small>
        <a href="{{list.id}}">ເບິງ</a>|<a href="{% url 'post-edit' list.id %}">ແກ້ໄຂ</a></p>
        
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

