{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="{{user.userprofile.image.url}}" 
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{user.username}}</h3>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">ກ່ຽວກັບ</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fa fa-mobile"></i> ເບີໂທ</strong>

                <p class="text-muted">
                    {{user.userprofile.mobile}}
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> ບ້ານ</strong>

                <p class="text-muted">
                    {{user.userprofile.village}}, {{user.userprofile.province}}
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> ແຂວງ</strong>

                <p class="text-muted">{{user.userprofile.district}}</p>

                <hr>

                <strong><i class="fa fa-venus-mars"></i> ເພດ</strong>
                <p class="text-muted">{{user.userprofile.gender}}</p>

                <a href="{% url 'editprofile' %}"><button  class="btn btn-info">ແກ້ໄຂ Profile</button></a>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Bio</a></li>

                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">

                      <p>
                        {{user.userprofile.bio}}
                      </p>

                    </div>
                  </div>
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
			
			
{% endblock %}
			